div{
    text-align: center;
    background-color: white;
    margin-left:36%;
    margin-right:37%;
    margin-top: 30px;
    padding:80px;
    
    
}
body{
    background-image: linear-gradient(rgb(168, 34, 168),rgb(247, 12, 247));
}
input[type="text"]
{
    width:220px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black;
}
.password{
  
    width: 220px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black;
}
    

.p1{
position:fixed;
left:43%;
}
.user{
    position:fixed;
    left:43%;
}
.forgot{
    position:fixed;
    left:52%;
}
button{
    width:220px;
    padding: 8px;
    border-radius: 15px;
    background-image: linear-gradient(rgb(99, 9, 99),violet)
}