div{
    background-color: tomato;
    text-align: center;
    padding: 20px;
    position: sticky;
    top:0;
}
a{
    text-decoration: none;
    color:white;
    padding: 20px;
    
    
}
a:hover{
    background-color:rgb(3, 3, 78);
}
/* navigation */