div{
    background-color:grey;
    text-align: center;
    padding: 25px;
    position: sticky;
    top:0;
    border-radius: 15px;

}
    
a{
    text-decoration: none;
    color:white;
    padding: 20px;
    
    
}
a:hover{
    background-color:black;
    border-radius: 15px;
}
/* body{
    background-image:url("https://img.freepik.com/premium-photo/3d-illustration-halloween-concept-dark-background-castle-graveyard-horror-background_685067-598.jpg");
    background-size: cover;
    color:aliceblue;
} */

