.relative{
    border:5px solid black;
    width:700px;
    margin-top: 120px;
    position:fixed;
    left:600px;
    background-color: yellow;
   }
   div{
       border:2px solid black;
       height:800px;
   }
   .absolute{
       border:5px solid black;
       width:700px;
       margin-top: 200px;
       background-color: yellow;
       position:fixed;
       bottom:200px;
   }
   h1{
       position:sticky;
       top:0;
       /* position:fixed;
       left:40%; */
       background-color: tomato;

       
   }