.relative{
 border:5px solid black;
 width:700px;
 margin-top: 120px;
 position:relative;
 left:110px;
 background-color: yellow;
}
div{
    border:2px solid black;
    height:600px;
}
.absolute{
    border:5px solid black;
    width:700px;
    margin-top: 200px;
    background-color: yellow;
    position: absolute;
    bottom:40px;
}
h1{
    position:fixed;
    left:40%;
}