table{
    border: 1px solid black;
    border-collapse: collapse;
    
}
th,td{
    border:1px solid black;
    width:100px;
    height:40px;
    text-align: center;
}
table td:nth-child(1){
background-color: green;
}
table tr:nth-child(1){
    background-color: rgb(2, 37, 2);
}
table tr:nth-child(even){
    background-color: grey;
}
.maadhu td:nth-child(3){
    background-color: red;
}