.section_Header{
    text-transform: uppercase;
    font-style: italic;
    color:white;
    font-size:50px;
}
.section_Web{
    text-align: center;
    margin-top: 200px;
}
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSwNKW8IGjVbwKyrfdQqKMhNDGinqBCh7spg&usqp=CAU");
    background-size: cover;
}
.section_Button{
    background-color: white;
    width:100px;
}
p{
    color: white;
}
button{
    padding: 10px;
}
nav{
    color:white;
    text-transform:uppercase;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.main_Section{
    background-image: linear-gradient(to top, rgb(189, 14, 101),rgb(95, 3, 19));
    position: absolute;
    top:0;
    bottom: 0;
    height:100vh;
    opacity: 0.6;
    width:206vh;
}
.section_Read{
    border: 1px solid black;
    opacity: 0.5;
}